:root {
    --background-color: rgb(0, 0, 0);
    --color: white;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    animation: visiblity 1s ease-in-out;
}

header {
    position: relative;
    top: 40px;
    margin-bottom: 100px;
}

#name {
    position: absolute;
    top: 70%;
    left: 45%;
    font-size: 4rem;
    font-style: italic;
}

@media only screen and (max-width:700px) {
    header {
        position: relative;
    }

    #name {
        position: absolute;
        font-size: 2rem;
        font-style: italic;
    }

    img.rounded {
        position: relative;
        top: 50px;
        width: 40%;
    }
}

@media only screen and (min-width:700px) and (max-width:1000px) {
    header {
        position: relative;
    }

    #name {
        position: absolute;
        font-size: 3rem;
        font-style: italic;
    }

    img.rounded {
        position: relative;
        top: 50px;
        width: 40%;
    }
}

img.rounded {
    position: relative;
    left: 10%;
    width: 30%;
    height: auto;
}

footer {
    position: relative;
    top: 200px;
    z-index: -1;
}

.row h1 {
    margin-top: 120px;
    text-align: center;
}

.row p {
    text-align: justify;
}

.row img {
    width: 70%;
    height: auto;
    display: block;
    margin-top: 20px;
}

@keyframes visiblity {
    0%   {opacity: 0;}
    100% {opacity: 100%;}
  }